
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/home.jpg);
    background-size: 100%;
    color: #333;
}

header {
    background-color: #ebe6e6;
    color: rgba(17, 17, 17, 0.749);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: rgba(17, 17, 17, 0.749);
    text-decoration: none;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    
}

nav a:hover {
    color: #3114c5;
}

main {
    padding: 2rem;
}

.intro {
    text-align: left;
    padding-left: 50px;
    padding-top: 60px;
    font-size: 40px;
}    
.intro a {
    display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(0, 0, 255);
  color: #ffffff;
  border: #fff9f9;
  border-radius: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

main img {
   float: right;
   margin-top: 50px;
   width: 30%;

}   
span {
    color: #ff9d00;
} 

#cs {
    padding-top: 90px;
    text-align: left;
    font-size:  30px;
}
#cs:hover {
    opacity: 0.7;
}

span#h1 {
    font-size: 30px;
    color: rgba(49, 48, 48, 0.981);
    padding-right: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


span#h2 {
    font-size: 25px;
    color: rgba(49, 48, 48, 0.981);
    padding-left: 20px ;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 20px;
    color: rgba(49, 48, 48, 0.981);
    padding-left: 10px ;
    padding-right: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: justify;
}

img#certificate {
    float: left;
    width: 50%;
    height: 20%;

}

img#met {
    margin-top: 200px;
}

img#mete {
    float: right;
    margin-top: 40px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 100px;
    margin-left: 20%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  
  .fa-instagram {
    background: #e60b78;
    color: white;
  }

  
.fa-whatsapp {
  background: #0ed169;
  color: white;
}

 img#ct {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
 }

.skill {
    margin-top: 30px;
    margin-right: 700px;
    margin-left: 30px;
}

.skill-name {
    font-weight: bold;
}

.skill-bar {
    background-color: #ddd;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
}

.skill-level {
    background-color: #f0e407;
    height: 100%;
    border-radius: 10px;
}


 @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }
  